<%= turbo_stream.replace "tasks" do %>
  <div id="tasks" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-8">
    <% if @tasks&.any? %>
      <%= render partial: "task", collection: @tasks %>
    <% else %>
      <div class="col-span-full text-center py-12">
        <p class="text-gray-500"><%= t('tasks.index.no_tasks', default: 'Nenhuma tarefa encontrada') %></p>
      </div>
    <% end %>
  </div>
<% end %>

<%= turbo_stream.replace "task-search-form" do %>
  <%= render 'search_form' %>
<% end %>
